@if (horario().time !== '')
{
    <div class="border p-5 rounded-default my-4 relative">
        <p class="text-subtitulo">Detalles del horario: {{horario().time}}</p>
        
        <button class="text-white bg-red-700 hover:bg-red-700/50 w-fit absolute right-0 mx-3 p-2 rounded-default cursor-pointer" (click)="abrirModal('eliminar'); ">
            - dar de baja horario
        </button>

        <div class="grid grid-cols-3">
            <div class="col text-2xl font-semibold">Clave</div>
            <div class="col text-2xl font-semibold">Nombre</div>
            <div class="col text-2xl ">Cupos: {{horario().enrolled?.length ?? 0}} / {{horario().spots}}</div>

            @for (inscrito of horario().enrolled; track inscrito)
            {
                <div class="col">{{inscrito.code}}</div>
                <div class="col-span-2">{{inscrito.name}}</div>
            } @empty 
            {
                <p class="col-span-3">No hay ningún inscrito a este horario</p>
            }
        </div>

        <div class="flex justify-end">
            <button class=" bg-principal hover:bg-principal/80 rounded-default text-white p-2 cursor-pointer" (click)="abrirModal('cupos')">
                Editar cupos del horario
            </button>
        </div>
            

        <div class="my-5">
            <p class="text-2xl">Días del horario</p>
            <app-calendario-semanal [dias]="horario().days"></app-calendario-semanal>
        </div>
        <div class="flex justify-end">
            <button class=" bg-principal hover:bg-principal/80 rounded-default text-white p-2 cursor-pointer" (click)="abrirModal('dias')">
                Editar días del horario
            </button>
        </div>

        <div class="col-span-2">
            <p>Próximos eventos agendados</p>
            <table>
                @for (evento of eventos(); track evento) {
                    <tr class="border-b-2 border-main-color">
                        <td class = "border-r border-principal/80">{{evento.date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{evento.title}}</td>
                        <td>
                            <button class="text-white bg-red-700 hover:bg-red-700/50 w-fit mx-3 p-1 rounded-default cursor-pointer" (click)="abrirModal('evento'); id = evento._id??''">
                                - eliminar evento
                            </button>
                        </td>
                    </tr>
                } @empty {
                    <p class="text-principal/50">No hay eventos agendados aún</p>
                }
            </table>
            
        </div>


        <div class="flex justify-end">
            <button class=" bg-principal hover:bg-principal/80 rounded-default text-white p-2 cursor-pointer" (click)="abrirModal('nuevoEvento')">
                Añadir evento
            </button>
        </div>
    </div>

}
<div class="flex justify-end my-2" (click)="abrirModal('horario')">
        <button class="bg-principal p-2 rounded-default text-white">Agregar horario</button>
</div>

@if (modal !== '' )
{
    @switch (modal) {
        @case ('cupos') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-editar-cupos [horario]="horario()" (cerrar)="cerrarModal()"></app-editar-cupos>
            </app-modal>
        }
        @case ('dias') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-editar-dias [horario]="horario()" (cerrar)="cerrarModal()"></app-editar-dias>
            </app-modal>
        }
        @case ('nuevoEvento') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-agregar-evento (cerrar)="cerrarModal()" [horarioID]="horario()._id??''"></app-agregar-evento>
            </app-modal>
        }
        @case ('horario') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-agregar-horario (cerrar)="cerrarModal()"></app-agregar-horario>
            </app-modal>
        }
        @case ('eliminar') {
            <app-modal (cerrarModal)="cerrarModal()">
            ¿Seguro que quieres dar de baja este horario?
            <p class="text-red-500 italic text-xm">Se eliminará las inscripciones y eventos relacionados</p>
            <div class="flex flex-wrap gap-2 justify-center mt-5 ml-5 mr-5">
                <button type="button" (click)="cerrarModal()" class="rounded-default p-default hover:bg-principal/20 cursor-pointer text-principal">Cancelar</button>
                <button type="button" (click)="onConfirm()" class="rounded-default bg-principal text-white p-default hover:bg-principal/80 cursor-pointer">Confirmar</button>
            </div>
            </app-modal>
        }
        @case ('evento') {
            <app-modal (cerrarModal)="cerrarModal()">
            ¿Seguro que quieres eliminar este evento?
            <div class="flex flex-wrap gap-2 justify-center mt-5 ml-5 mr-5">
                <button type="button" (click)="cerrarModal()" class="rounded-default p-default hover:bg-principal/20 cursor-pointer text-principal">Cancelar</button>
                <button type="button" (click)="onConfirmEvent()" class="rounded-default bg-principal text-white p-default hover:bg-principal/80 cursor-pointer">Confirmar</button>
            </div>
            </app-modal>
        }
    }
}