<div class="w-full bg-principal text-white py-5 relative">
    <div class="flex justify-center">
        <div class="logo bg-white mb-5"></div>
    </div>
    <div class="flex justify-center space-x-10 px-20">
        <app-boton [direccion]="'/dashboard'">Dashboard</app-boton>
        <app-boton [direccion]="'/entrenador/horarios'">Horarios entrenador</app-boton>
        <app-boton [direccion]="'/socio/horarios'">Horarios socios</app-boton>
        <app-boton [direccion]="'/socio/deportes'">Deportes socio</app-boton>
        <app-boton [direccion]="'/gerencia/deportes'">Deportes gerencia</app-boton>
        <app-boton [direccion]="'/gerencia/entrenadores'">Entrenadores</app-boton>
        <app-boton [direccion]="'/calendario'">Mi calendario</app-boton>
    </div>
    <div class="absolute right-0 bottom-0 pr-10 pb-5">
        <app-boton>Nombre de Usuario</app-boton>
    </div>
</div>
<div class="bg-secundario h-3 w-full"></div>