<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-default">
    <p class="text-subtitulo">Ingresa datos a modificar</p>
    
    <label for="name">Nombre del deporte</label><br>
    <input formControlName="name" type="text" name="name" [ngModel]="deporte().name" class="mx-2 border border-principal/25 w-full"><br>
    <label for="description">Nueva descripcion</label><br>
    <textarea formControlName="description" name="description" [ngModel]="deporte().description" id="" class="mx-2 border border-principal/25 w-full"></textarea>
    @if(!form.valid) {
        <p class="text-red-500 italic">Llena todos los campos antes</p>
    }
    <div class="flex flex-wrap gap-2 justify-center mt-5 ml-5 mr-5">
        <button type="button" (click)="cancelar()" class="rounded-default p-default hover:bg-principal/20 cursor-pointer">Cancelar</button>
        <button type="submit" class="rounded-default bg-principal text-white p-default hover:bg-principal/80 cursor-pointer">Confirmar</button>
    </div>
</form>
