<form class="p-default">
    <p class="text-subtitulo">Ingresa los días del horario</p>
    
    <div class="grid grid-cols-5 m-2">
        <label class="col">Martes</label>
        <label class="col">Miercoles</label>
        <label class="col">Jueves</label>
        <label class="col">Viernes</label>
        <label class="col">Sábado</label>
        <input name="dias[]" type="checkbox" value=1 class="col">
        <input name="dias[]" type="checkbox" value=2 class="col">
        <input name="dias[]" type="checkbox" value=3 class="col">
        <input name="dias[]" type="checkbox" value=4 class="col">
        <input name="dias[]" type="checkbox" value=5 class="col">
    </div>
</form>
