@if (horario().hora !== '')
{
    <div class="border p-5 rounded-default my-4">
        <p class="text-subtitulo">Detalles del horario: {{horario().hora}}</p>

        <div class="grid grid-cols-3">
            <div class="col text-2xl font-semibold">Clave</div>
            <div class="col text-2xl font-semibold">Nombre</div>
            <div class="col text-2xl ">Cupos: {{horario().inscritos}} / {{horario().cupos}}</div>

            @for (inscrito of inscritos(); track inscrito)
            {
                <div class="col">{{inscrito.clave}}</div>
                <div class="col-span-2">{{inscrito.nombre}}</div>
            } @empty 
            {
                <p class="col-span-3">No</p>
            }
        </div>

        <div class="flex justify-end">
            <button class=" bg-principal hover:bg-principal/80 rounded-default text-white p-2" (click)="abrirModal('cupos')">
                Editar cupos del horario
            </button>
        </div>
            

        <div class="my-5">
            <p class="text-2xl">Días del horario</p>
            <app-calendario-semanal [dias]="horario().dias"></app-calendario-semanal>
        </div>
        <div class="flex justify-end">
            <button class=" bg-principal hover:bg-principal/80 rounded-default text-white p-2" (click)="abrirModal('dias')">
                Editar días del horario
            </button>
        </div>

        <div class="col-span-2">
            <p>Eventos agendados</p>
            <table>
                @for (evento of eventos(); track evento) {
                    <tr class="border-b-2 border-main-color">
                        <td class = "border-r border-principal/80">{{evento.fecha}}</td>
                        <td>{{evento.titulo}}</td>
                        <!-- <td>
                            <a href="{{ route('entrenador.notificar',$evento->id) }}" class="rounded bg-main-color/50">Enviar recordatorio</a>
                        </td> -->
                    </tr>
                } @empty {
                    <p class="text-principal/50">No hay eventos agendados aún</p>
                }
            </table>
            
        </div>


        <div class="flex justify-end">
            <button class=" bg-principal hover:bg-principal/80 rounded-default text-white p-2" (click)="abrirModal('nuevoEvento')">
                Añadir evento
            </button>
        </div>
    </div>

}
<div class="flex justify-end my-2" (click)="abrirModal('horario')">
        <button class="bg-principal p-2 rounded-default text-white">Agregar horario</button>
</div>

@if (modal !== '' )
{
    @switch (modal) {
        @case ('cupos') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-editar-cupos [horario]="horario()"></app-editar-cupos>
            </app-modal>
        }
        @case ('dias') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-editar-dias></app-editar-dias>
            </app-modal>
        }
        @case ('nuevoEvento') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-agregar-evento></app-agregar-evento>
            </app-modal>
        }
        @case ('horario') {
            <app-modal (cerrarModal)="cerrarModal()">
                <app-agregar-horario></app-agregar-horario>
            </app-modal>
        }
    }
}