<form class="p-default">
    <p class="text-subtitulo">Ingresa datos del entrenador a registrar</p>

    <label for="hora">Nombre del entrenador</label><br>
    <input type="text" name="nombre" placeholder="Nombre del nuevo entrenador" class="mx-2 border border-principal/25 w-full"><br>
    <label for="cupos">Correo del entrenador</label><br>
    <input type="email" name="email" placeholder="correoantiguo@email.com" class="mx-2 border border-principal/25 w-full"><br>
    <label for="cupos">Contraseña provisional</label><br>
    <p class="text-xs italic">*Por seguridad el entrenador deberá de cambiarla después</p>
    <input type="password" name="password" placeholder="Contraseña123!#" class="mx-2 border border-principal/25 w-full"><br>
</form>
